/* Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.searchInput {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 70%;
}

.icons {
    display: flex;
    gap: 10px;
}

.profileIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}