@tailwind base;
@tailwind components;
@tailwind utilities;
.fullWrapper {
    min-height: 100vh;
    background-color: #2b3e50; /* یا هر رنگی خواستی */
    display: flex;
    flex-direction: column;
}

/* محتوای وسط چین با عرض محدود */
.centerContent {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .centerContent {
        max-width: 768px;
        padding: 2rem;
    }
}
